.extra-nav {
  background-color: #800020;
  padding: 1px;
  display: flex;
  justify-content: center;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.social-media-icons {
  max-width: 50px;
  height: auto;
}
