.hero-section {
  position: relative;
  height: 100vh;
  background-color: #00000086;
  border-bottom: 20px solid rgb(234, 70, 70);
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.video-container {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.ctc-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(90%);
  opacity: 0.8;
}

.church-title {
  font-family: "Anton SC", sans-serif;
  margin-bottom: 50px;
  color: rgb(255, 244, 192);
  font-size: 68px;
  font-weight: 900;
  letter-spacing: 5px;
  text-align: center;
  z-index: 2;
  width: 900px;
}

.ctc {
  font-family: "Anton SC", sans-serif;
  color: var(--burgundy);
  font-size: 68px;
  font-weight: 900;
  letter-spacing: 5px;
}

.next-section a {
  margin-bottom: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.down-arrow {
  width: 40px;
  height: auto;
  cursor: pointer;
  filter: brightness(0) invert(1); /* Makes the image white */
  transition: transform 0.3s ease, filter 0.3s ease;
}

.down-arrow:hover {
  transform: translateY(5px) scale(1.1); /* Move the arrow down and slightly increase size */
  filter: brightness(1) invert(0.8); /* Slightly decrease brightness and inversion to give a subtle glow effect */
}

@media (max-width: 768px) {
  .church-title {
    font-size: 42px;
    width: 400px;
    z-index: 0;
  }

  .ctc {
    font-size: 42px;
  }

  .next-section a {
    margin-bottom: 60px;
  }
}
