.order-of-service-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  padding: 80px 40px;
  text-align: center;
}

.order-of-service p {
  color: var(--burgundy);
  font-size: 42px;
  text-decoration: underline;
}

.order-of-service ul {
  list-style-type: none;
}

.order-of-service li {
  font-size: 39px;
  font-weight: 300;
  font-style: oblique;
  margin: 10px 0;
}

.location {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 20px;
}
.map {
  width: 70%;
  height: 600px;
}

@media (max-width: 768px) {
  .order-of-service-section {
    padding: 20px;
  }

  .order-of-service p {
    font-size: 32px;
  }

  .order-of-service li {
    font-size: 24px;
    font-weight: 500;
  }

  .map {
    width: 80%;
    height: 400px;
  }

  @media (max-width: 480px) {
    .map {
      width: 90%;
      height: 300px;
    }

    .order-of-service p {
      font-size: 26px;
    }

    .order-of-service li {
      font-size: 18px;
    }
  }
}
