.church-family-section {
  padding: 50px 20px;
  text-align: center;
  background-color: var(--burgundy);
}

.church-family-section h1 {
  font-size: 40px;
  color: #fff;
  border-bottom: 3px solid #ffcc00;
  margin-bottom: 50px;
  padding-bottom: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.church-family-section p {
  font-size: 18px;
  color: #ffcc00;
  margin-top: 3px;
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 100px;
  text-transform: uppercase;
}

.random-image-container {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
}

.random-image-shower {
  width: 400px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}

.random-image-shower img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s;
}

.img-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.images {
  border-radius: 10px;
  position: relative;
}

.images img {
  width: 100%;
  max-width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease,
    z-index 0.3s ease;
  filter: grayscale(80%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 0;
}

.images img:active {
  transform: scale(1.8);
  filter: grayscale(0%);
  z-index: 10;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  object-fit: contain;
}

@media (max-width: 1024px) {
  .random-image-container {
    max-width: 850px;
  }

  .random-image-shower {
    width: 660px;
    height: 560px;
  }
}

@media (max-width: 820px) {
  .random-image-container {
    max-width: 650px;
  }

  .random-image-shower {
    width: 560px;
    height: 360px;
  }
}

@media (max-width: 768px) {
  .images img {
    max-width: 200px;
    height: 150px;
  }

  .images img:active {
    transform: scale(1.9);
  }

  .random-image-container {
    max-width: 650px;
  }
  .random-image-shower {
    width: 500px;
    height: 400px;
  }
}

@media (max-width: 540px) {
  .random-image-container {
    max-width: 300px;
  }
  .random-image-shower {
    width: 260px;
    height: 260px;
  }
}

@media (max-width: 480px) {
  .images img {
    max-width: 120px;
    height: 100px;
  }

  .images img:active {
    transform: scale(2.5);
  }

  .random-image-container {
    max-width: 620px;
  }
  .random-image-shower {
    width: 400px;
    height: 380px;
  }
}

@media only screen and (min-device-width: 390px) and (max-device-width: 430px) and (orientation: portrait) {
  .img-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: auto;
  }

  .images img {
    max-width: 100px;
    height: 180px;
  }

  .images img:active {
    transform: scale(2.2);
  }

  .church-family-section h1 {
    font-size: 34px;
  }

  .church-family-section p {
    font-size: 16px;
  }

  .random-image-container {
    max-width: 800px;
  }
  .random-image-shower {
    width: 350px;
    height: 300px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 429px) and (orientation: portrait) {
  .random-image-container {
    max-width: 800px;
  }

  .random-image-shower {
    width: 300px;
    height: 200px;
  }
}
