.title {
  display: flex;
  justify-content: center;
  align-items: center;
  /*   background: linear-gradient(135deg, #7a97ed, #5f7cd7, #3e54a1);
 */
  padding: 20px;
}

.title-container {
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.title-container p {
  font-size: 40px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}

.title-container span {
  color: #ef0942;
  font-weight: bold;
}

.more-details {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.more-details p {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  margin: 0;
  font-style: italic;
}

.more-details span {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  color: #ef0942;
  font-weight: bold;
}

@media (max-width: 768px) {
  .title-container {
    width: 90%;
    padding: 15px;
  }

  .title-container p {
    font-size: 30px;
  }

  .more-details {
    padding: 15px;
  }

  .more-details p {
    font-size: 16px;
  }

  .more-details span {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .title-container {
    width: 100%;
    padding: 10px;
  }

  .title-container p {
    font-size: 24px;
  }

  .more-details {
    padding: 10px;
  }

  .more-details p {
    font-size: 14px;
  }

  .more-details span {
    font-size: 16px;
  }
}
