.body {
  overflow-x: hidden;
}

.live-section {
  padding: 50px 20px;
  background-color: gold;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  max-width: 100%;
  width: 100%;
  opacity: 0.9;
  margin: 40px auto;
}

.live-section h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: black;
  text-transform: uppercase;
}

.videos-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  width: 100%;
  overflow: hidden;
}

.vid {
  width: 500px;
  height: 415px;
  border: none;
  border-radius: 12px;
}

.streaming-footer {
  margin-top: 20px;
  padding: 15px;
  width: 100%;
}

.all-streams-link {
  color: #ffffff;
  font-size: 20px;
  text-decoration: wavy;
  padding: 10px 25px;
  background-color: royalblue;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-block;
}

.all-streams-link:hover {
  background-color: var(--burgundy);
  transform: translateY(-3px);
}

.all-streams-link:active {
  background-color: #b8860b;
  transform: translateY(1px);
}

@media (max-width: 768px) {
  .live-section {
    width: 500px;
  }

  .live-section h1 {
    font-size: 28px;
  }

  .vid {
    width: 100%;
    height: 350px;
  }

  .all-streams-link {
    font-size: 18px;
    padding: 8px 20px;
  }
}

@media (max-width: 480px) {
  .live-section {
    width: 100%;
    padding: 20px;
    margin: 0 auto !important;
    opacity: 1;
  }

  .vid {
    width: 100%;
    height: 300px;
  }

  .live-section h1 {
    font-size: 28px;
  }

  @media (max-width: 480px) {
    .video-container {
      overflow: visible;
    }
  }

  .all-streams-link {
    font-size: 18px;
    padding: 8px 20px;
  }
}

@media (max-width: 320px) {
  .live-section h1 {
    font-size: 28px;
  }

  .vid {
    width: 100%;
    height: 400px;
  }
}

@supports (-webkit-touch-callout: none) {
  .live-section {
    margin-bottom: 0 !important; /* Ensure no extra gap at the bottom */
  }

  .vid {
    height: auto !important; /* Ensure video scales correctly */
  }
}
