.about-navbar {
  background-color: black;
}

.about-navbar {
  display: flex;
  align-items: center;
}

.img-area {
  max-width: 80px;
}

.left-nav {
  flex: 1;
  margin-left: 50px;
}

.church-logo {
  max-width: 90%;
  margin-top: 20px;
  object-fit: contain;
}

.hamburger {
  visibility: hidden;
}

.right-nav ul {
  list-style: none;
  display: flex;
}

.right-nav li {
  margin: 0 22px;
}

.right-nav a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.right-nav a:hover {
  color: hsl(196, 100%, 50%);
}

@media (max-width: 768px) {
  .right-nav {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    margin-top: 50px;
  }

  .right-nav li {
    margin: 16px;
  }

  .right-nav.active {
    left: 0;
  }

  .img-area {
    max-width: 80px;
  }

  .hamburger {
    visibility: visible;
    margin-right: 20px;
  }

  .hamburger-icon {
    max-width: 30px;
    background-color: black;
    cursor: pointer;
  }
}
