body {
  background-color: var(--burgundy);
}

.obituary-section {
  position: relative;
  background-color: var(--burgundy);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border: 40px solid royalblue;
}

.obituary-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1;
  pointer-events: none;
}

.content {
  padding: 20px;
  background-color: white;
  border: 20px groove wheat;
  border-radius: 15px;
  max-width: 700px;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
}

.obituary-header h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.obituary-header h2 {
  font-size: 2.2em;
  color: #000000;
  margin-bottom: 5px;
}

.obituary-header .dates {
  font-size: 1.2em;
  color: #000000;
}

.obituary-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.obituary-left-side,
.obituary-right-side {
  flex: 1;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.image-container img {
  max-width: 80%;
  height: auto;
  max-height: 600px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.tribute-text {
  font-size: 1.2em;
  color: #000000;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  border-left: 5px solid #000000;
  margin-bottom: 30px;
  line-height: 1.3;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

.image-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.image-group img {
  width: 40%;
  max-width: 400px;
  height: auto;
  max-height: 250px;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.image-group img:hover {
  transform: scale(1.02);
}

.obituary-footer {
  margin-top: 30px;
  font-size: 1.2em;
  color: #666;
  padding: 20px;
  background: #f1f1f1;
  border-radius: 10px;
  border-top: 2px solid #ddd;
  text-align: center;
}

@media (max-width: 768px) {
  .content {
    padding: 20px;
    margin: 20px;
  }

  .obituary-header h1 {
    font-size: 2em;
  }

  .obituary-header h2 {
    font-size: 1.8em;
  }

  .obituary-header .dates {
    font-size: 1em;
  }

  .image-container img {
    max-width: 300px;
  }

  .tribute-text {
    font-size: 1em;
    padding: 15px;
  }

  .image-group {
    gap: 10px;
    justify-content: space-around;
  }

  .image-group img {
    width: 48%;
    margin-bottom: 10px;
  }

  .obituary-footer {
    font-size: 1em;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .obituary-section {
    border: none;
  }

  .content {
    padding: 10px;
    margin: 15px auto;
    max-width: 85%;
  }

  .image-container img {
    width: 200px;
  }

  .obituary-right-side {
    width: 100%;
  }

  .obituary-header h1 {
    font-size: 1.8em;
    text-align: center;
  }

  .obituary-header h2 {
    font-size: 1.5em;
    text-align: center;
  }

  .obituary-header .dates {
    font-size: 0.9em;
    text-align: center;
  }

  .tribute-text {
    font-size: 1em;
    margin: 0 auto;
    border: 2px solid black;
  }

  .image-group {
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }

  .image-group img {
    width: 40%;
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
    object-fit: cover;
  }

  .obituary-footer {
    font-size: 1em;
    padding: 10px;
    text-align: center;
  }
}
