.pastor-card-section {
  background-color: white;
  border-bottom: 10px solid royalblue;
  overflow-x: hidden;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card-container {
  display: flex;
  padding: 30px;
  gap: 200px;
  flex-wrap: wrap;
}

.pastor-card,
.elect-lady-card {
  flex: 1;
  position: relative;
  margin-left: 100px;
  height: 100%;
}

.pastor-photo {
  width: 300px;
  margin-left: 150px;
  object-fit: contain;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.elect-lady-photo {
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.pastor-card-text {
  position: absolute;
  bottom: 80px;
  left: 0;
  color: #ffffff;
  font-size: 52px;
  line-height: 1.2;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2), 6px 6px 0px rgba(0, 0, 0, 0.3),
    9px 9px 0px rgba(0, 0, 0, 0.4), 12px 12px 0px rgba(0, 0, 0, 0.5);
}

.elect-lady-card-text {
  position: absolute;
  bottom: 80px;
  left: -100px;
  color: #ffffff;
  font-size: 52px;
  line-height: 1.2;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2), 6px 6px 0px rgba(0, 0, 0, 0.3),
    9px 9px 0px rgba(0, 0, 0, 0.4), 12px 12px 0px rgba(0, 0, 0, 0.5);
}

.pastor-card-text h1,
.elect-lady-card-text h1 {
  font-family: "Poppins", "Montserrat", sans-serif;
  font-weight: bold;
}

@media (max-width: 1444px) {
  .card-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .card-container {
    gap: 100px;
  }
}

@media (max-width: 480px) {
  .card-container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .pastor-card {
    margin-left: 70px;
  }

  .elect-lady-card {
    left: -140px;
  }

  .pastor-photo,
  .elect-lady-photo {
    width: 250px;
    margin-left: 0;
  }

  .pastor-card-text {
    left: -60px;
    bottom: 30px;
  }

  .elect-lady-card-text {
    left: 130px;
  }

  .pastor-card-text,
  .elect-lady-card-text {
    position: absolute;
    font-size: 32px;
    line-height: 1.3;
  }
}
