.pastor-bibliography-section {
  margin-top: 200px;
  margin-bottom: 100px;
  position: relative;
  padding: 10px;
}

.bibliography-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  position: relative;
}

.bib-left-side img {
  width: 300px;
}

.scrollable-book {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  max-height: 600px;
  z-index: 2;
  position: relative;
}

.scrollable-book p {
  margin-bottom: 20px;
  color: #333;
}

.TITLE {
  font-family: "Merriweather", serif;
  font-size: 32px;
  margin-bottom: 10px;
  text-decoration: underline;
  color: #a55533;
}

.SUBTITLE {
  font-family: "Merriweather", serif;
  font-size: 24px;
  color: #a55533;
  margin-bottom: 5px;
}

.ENDING {
  font-family: "Merriweather", serif;
  font-size: 24px;
  margin-top: 40px;
  color: #a55533;
  text-transform: uppercase;
}

@media (max-width: 1444px) {
  .pastor-bibliography-section {
    max-width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .pastor-bibliography-section {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .bibliography-container {
    flex-direction: column;
    align-items: center;
  }

  .scrollable-book {
    max-width: 90%;
    max-height: 400px;
  }
}
