.contact-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 60%;
  justify-content: center; /* Center elements vertically */
  background-color: white;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5px; /* Reduce space */
}

.contact-shannon-photo img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid #3aafa9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-shannon-info {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  color: #17252a;
}

.contact-shannon-info span {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}

.contact-shannon-info p {
  font-size: 16px;
  color: #3aafa9;
}

.social-media-contact {
  margin-top: 10px;
  text-align: center;
}

.social-media-contact p {
  font-size: 14px;
  color: #17252a;
  margin-bottom: 10px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-media-icons {
  width: 50px;
  height: 50px;
  filter: grayscale(100%);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contact-info-section {
    height: auto;
    width: 100%;
    padding: 10px;
  }

  .contact-info-container {
    margin-bottom: 5px;
  }

  .contact-shannon-photo img {
    width: 130px;
    height: 130px;
  }

  .contact-shannon-info span {
    font-size: 16px;
  }

  .contact-shannon-info p {
    font-size: 14px;
  }

  .social-media-contact {
    margin-top: 5px;
  }

  .social-media-contact p {
    font-size: 14px;
  }

  .social-media-icons {
    width: 45px;
    height: 45px;
  }

  .social-media {
    gap: 8px;
  }
}

@media (max-width: 767px) {
  .contact-info-section {
    height: auto;
    padding: 5px;
  }

  .contact-shannon-photo img {
    width: 110px;
    height: 110px;
  }

  .contact-shannon-info span {
    font-size: 14px;
  }

  .contact-shannon-info p {
    font-size: 13px;
  }

  .social-media-contact p {
    font-size: 13px;
  }

  .social-media-icons {
    width: 40px;
    height: 40px;
  }
}
