.footer-container {
  background-color: rgb(38, 38, 38);
  padding: 20px;
  text-align: center;
  border-top: 10px solid rgb(234, 70, 70);
}

.footer-container p {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  line-height: 1.5;
}

.footer-container span {
  font-weight: bold;
  font-size: 24px;
  margin-left: 12px;
  color: #ffd700;
}
