* {
  margin: 0;
  padding: 0;
  --royal-blue: #3366cc;
  --burgundy: #800020;
  box-sizing: border-box;
  font-family: "Alegreya SC", serif;
}

body,
html {
  background-color: #f4f4f9;
  width: 100%;
  height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.container {
  width: 100%;
  max-width: 100vw; /* Ensure container fits within the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  scroll-behavior: smooth;
  width: auto;
}
