* {
  margin: 0;
  padding: 0;
  --royal-blue: #3366cc;
  --burgundy: #800020;
  box-sizing: border-box;
  font-family: "Alegreya SC", serif;
}

body {
  background-color: #f4f4f9;
  width: 100%;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}
