.header-section {
  width: 100%; /* Ensure it takes full width */
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #ffffff24;
  padding: 10px 0px;
  z-index: 1000; /* Ensure it stays above other content */
}

.navbar {
  display: flex;
  align-items: center;
}

.img-area {
  max-width: 80px;
}

.left-nav {
  flex: 1;
  margin-left: 50px;
}

.church-logo {
  max-width: 90%;
  margin-top: 20px;
  object-fit: contain;
}

.right-nav {
  margin-right: 50px;
}

.hamburger {
  visibility: hidden;
}

.right-nav ul {
  list-style: none;
  display: flex;
}

.right-nav li {
  margin: 0 22px;
}

.right-nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: wheat;
  transition: 0.7s ease;
}

.right-nav a:hover {
  color: hsl(196, 100%, 50%);
}

@media (max-width: 768px) {
  .right-nav {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    margin-top: 50px;
  }

  .right-nav li {
    margin: 16px;
  }

  .right-nav.active {
    left: 0;
  }

  .img-area {
    max-width: 80px;
  }

  .hamburger {
    visibility: visible;
    margin-right: 20px;
  }

  .hamburger-icon {
    max-width: 30px;
    background-color: black;
    cursor: pointer;
  }
}
